<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="ru">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="theme-color" content="#151515">
  <meta name="msapplication-navbutton-color" content="#151515">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#151515">

  <meta property="og:image" content="/static/img/og.png" />
  <meta property="og:title" content="IrCA Duty" />
  <meta property="og:description" content="Веб-морда" />

  <script src="https://vk.com/js/api/openapi.js?162" type="text/javascript"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap&subset=cyrillic">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <!-- TODO: нахера здесь столько говна грузится? -->
  <!-- Тебя ебёт? Пусть грузится. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/css/nav.scss" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/theme.css" type="text/css">
  <script src="/static/js/site.js"></script>


  <title>IrCA Duty</title>
</head>

<body class="d-flex flex-column" style="background-color: #1E1E1E">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <b>IrCA Duty</b>
      </a>
    </div>
  </nav>

  <div id="cookies-js-alerts">
    <noscript>
      <div class="py-12">
        <div class="container">
          <div class="row">
            <p>Для работы сайта требуются javascript и cookies, включи их</p>
          </div>
        </div>
      </div>
    </noscript>

    <div class="py-5" id="cookies-blocked">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Для работы сайта требуются cookies, включи их</p>
            <script>
              if (navigator.cookieEnabled) { $("#cookies-blocked").hide(); }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="page-content">
    {% block pagecontent %}
    {% endblock pagecontent %}
  </div>

  <svg width="0" height="0" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <g id="ghLogo" transform="matrix(1.33 0 0 -1.33 3 176)">
        <g transform="matrix(.0109 0 0 .0109 0 116)">
          <path
            d="m925 743h-404c-10.4 0-18.9-8.45-18.9-18.9v-197c0-10.4 8.44-18.9 18.9-18.9h157v-245s-35.4-12.1-133-12.1c-115 0-276 42.1-276 396 0 354 168 401 325 401 136 0 195-24 232-35.6 11.7-3.59 22.6 8.1 22.6 18.5l45 191c0 4.88-1.65 10.7-7.21 14.7-15.2 10.8-108 62.6-342 62.6-269 0-546-115-546-666 0-551 316-633 583-633 221 0 355 94.3 355 94.3 5.52 3.05 6.12 10.8 6.12 14.3v615c0 10.4-8.44 18.9-18.8 18.9" />
          <path
            d="m3e3 1233c0 10.5-8.32 19-18.7 19h-227c-10.4 0-18.8-8.47-18.8-19 0-0.05 0.06-439 0.06-439h-354v439c0 10.5-8.36 19-18.8 19h-227c-10.3 0-18.8-8.47-18.8-19v-1189c0-10.5 8.43-19 18.8-19h227c10.4 0 18.8 8.54 18.8 19v509h354s-0.62-509-0.62-509c0-10.5 8.43-19 18.8-19h228c10.4 0 18.7 8.54 18.8 19v1189" />
          <path
            d="m1354 1077c0 81.8-65.6 148-147 148-80.8 0-146-66.1-146-148 0-81.7 65.6-148 146-148 80.9 0 147 66.3 147 148" />
          <path
            d="m1338 295v549c0 10.4-8.41 18.9-18.8 18.9h-227c-10.4 0-19.7-10.7-19.7-21.1v-786c0-23.1 14.4-30 33-30h204c22.4 0 27.9 11 27.9 30.4v239" />
          <path
            d="m3868 861h-225c-10.3 0-18.8-8.53-18.8-19v-583s-57.3-41.9-139-41.9c-81.3 0-103 36.9-103 117v508c0 10.5-8.4 19-18.8 19h-229c-10.3 0-18.8-8.53-18.8-19v-547c0-236 132-294 313-294 149 0 269 82.2 269 82.2s5.71-43.3 8.29-48.4c2.59-5.12 9.32-10.3 16.6-10.3l146 0.641c10.3 0 18.8 8.54 18.8 19l-0.07 798c0 10.5-8.43 19-18.8 19" />
          <path
            d="m4396 217c-78.2 2.38-131 37.9-131 37.9v377s52.3 32.1 117 37.8c81.2 7.27 159-17.3 159-211 0-204-35.3-245-145-241zm88.9 670c-128 0-215-57.1-215-57.1v403c0 10.5-8.39 19-18.8 19h-228c-10.4 0-18.8-8.47-18.8-19v-1189c0-10.5 8.42-19 18.8-19h158c7.12 0 12.5 3.68 16.5 10.1 3.93 6.39 9.6 54.8 9.6 54.8s93.2-88.3 270-88.3c207 0 326 105 326 472s-190 414-318 414" />
          <path
            d="m1991 862h-170s-0.26 225-0.26 225c0 8.53-4.39 12.8-14.2 12.8h-232c-9.03 0-13.9-3.97-13.9-12.6v-233s-116-28.1-124-30.4c-7.84-2.28-13.6-9.5-13.6-18.1v-146c0-10.5 8.4-19 18.8-19h119v-352c0-261 183-287 307-287 56.5 0 124 18.1 135 22.3 6.75 2.48 10.7 9.47 10.7 17.1l0.19 161c0 10.5-8.86 19-18.8 19-9.93 0-35.3-4.04-61.5-4.04-83.7 0-112 38.9-112 89.3 0 50.4-0.01 334-0.01 334h170c10.4 0 18.8 8.48 18.8 19v183c0 10.5-8.41 18.9-18.8 18.9" />
        </g>
      </g>
    </defs>
  </svg>
  <svg version="1.1" width="0" height="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>
      .vkbase {
        clip-path: url(#SVGID_2_);
      }

      .vklogo {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #151515
      }
    </style>
    <defs>
      <g id="vkBase" transform="matrix(.0105 0 0 .0105 .109 .109)">
        <defs>
          <path id="SVGID_1_"
            d="m71.6 5h58.9c53.8 0 66.5 12.8 66.5 66.6v58.9c0 53.8-12.8 66.5-66.6 66.5h-58.9c-53.8 0-66.5-12.8-66.5-66.6v-58.9c0-53.7 12.8-66.5 66.6-66.5z" />
        </defs>
        <path
          d="m71.6 5h58.9c53.8 0 66.5 12.8 66.5 66.6v58.9c0 53.8-12.8 66.5-66.6 66.5h-58.9c-53.8 0-66.5-12.8-66.5-66.6v-58.9c0-53.7 12.8-66.5 66.6-66.5z"
          clip-rule="evenodd" fill-rule="evenodd" />
        <clipPath id="SVGID_2_">
          <use width="100%" height="100%" overflow="visible" xlink:href="#SVGID_1_" />
        </clipPath>
        <path class="vkbase" d="m0 0h202v202h-202z" clip-path="url(#SVGID_2_)" />
      </g>
    </defs>
    <defs>
      <path id="vkLogo" class="vklogo"
        d="m1.82 0.857c0.00947-0.0316 0-0.0537-0.0442-0.0537h-0.147c-0.0379 0-0.0547 0.02-0.0642 0.0421 0 0-0.0747 0.183-0.181 0.301-0.0347 0.0347-0.0494 0.0452-0.0684 0.0452-0.00947 0-0.0231-0.0105-0.0231-0.0421v-0.292c0-0.0379-0.0105-0.0537-0.0421-0.0537h-0.231c-0.0231 0-0.0379 0.0179-0.0379 0.0337 0 0.0358 0.0526 0.0442 0.0589 0.143v0.217c0 0.0473-0.00842 0.0558-0.0274 0.0558-0.0494 0-0.171-0.183-0.243-0.393-0.0147-0.0389-0.0284-0.0558-0.0663-0.0558h-0.147c-0.0421 0-0.0505 0.02-0.0505 0.0421 0 0.0389 0.0494 0.233 0.233 0.488 0.122 0.175 0.294 0.269 0.449 0.269 0.0936 0 0.105-0.021 0.105-0.0568v-0.133c0-0.0421 0.00842-0.0505 0.0389-0.0505 0.0221 0 0.0589 0.0105 0.146 0.0947 0.0999 0.0999 0.117 0.145 0.173 0.145h0.147c0.0421 0 0.0631-0.021 0.0505-0.0621-0.0137-0.041-0.061-0.101-0.124-0.173-0.0347-0.041-0.0863-0.0842-0.101-0.106-0.0221-0.0284-0.0158-0.041 0-0.0652 0-0.00105 0.18-0.254 0.198-0.34z"
        stroke-width=".0105" />
    </defs>
  </svg>

  <footer id="sticky-footer" class="py-5 bg-dark text-white-50">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm text-md-right text-center">
          <small style="font-size: 13px;color: #efa73c;">Евгений Лисицын</small>
          <a href="https://github.com/Obnovlator3000" style="text-decoration: none;">
            <svg width="70" height="21" viewBox="0 0 76 24.9">
              <use href="#ghLogo" fill="#efa73c" />
            </svg>
          </a>
          <a href="https://vk.com/id230192963">
            <svg width="29" height="29" viewBox="0 0 2.34 2.34">
              <use href="#vkBase" fill="#efa73c" />
              <use href="#vkLogo" />
            </svg>
          </a>
        </div>
        <div class="d-sm-none">
          <div class="p-1"></div>
        </div>
        <div class="col-sm text-center">
          <small style="font-size: 13px;color: #39eb51;">Иосиф Александрович</small>
          <a href="https://github.com/Elchinchel" style="text-decoration: none;">
            <svg width="70" height="21" viewBox="0 0 76 24.9">
              <use href="#ghLogo" fill="#39eb51" />
            </svg>
          </a>
          <a href="https://vk.com/iosiphpage">
            <svg width="29" height="29" viewBox="0 0 2.34 2.34">
              <use href="#vkBase" fill="#39eb51" />
              <use href="#vkLogo" />
            </svg>
          </a>
        </div>
        <div class="d-sm-none">
          <div class="p-1"></div>
        </div>
        <div class="col-sm text-md-left text-center">
          <small style="font-size: 13px;color: #c00ded;">Мария Громова</small>
          <a href="https://vk.com/id549315693">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40"
              height="27" viewBox="0 0 256 256" xml:space="preserve">
              <defs>
              </defs>
              <g transform="translate(128 128) scale(0.72 0.72)">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                  transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)">
                  <path
                    d="M 64.44 12.016 c 5.225 0 10.136 2.035 13.831 5.729 c 7.626 7.626 7.626 20.035 0 27.662 l -19.44 19.44 L 45 78.677 L 31.169 64.846 l -19.44 -19.44 c -7.626 -7.626 -7.626 -20.035 0 -27.662 c 3.694 -3.694 8.606 -5.729 13.831 -5.729 c 5.225 0 10.136 2.035 13.831 5.729 l 1.367 1.367 L 45 23.354 l 4.242 -4.242 l 1.367 -1.367 C 54.304 14.05 59.216 12.016 64.44 12.016 M 64.44 6.016 c -6.541 0 -13.083 2.495 -18.073 7.486 L 45 14.869 l 0 0 l 0 0 l -1.367 -1.367 C 38.642 8.511 32.101 6.016 25.56 6.016 S 12.477 8.511 7.486 13.502 c -9.982 9.982 -9.982 26.165 0 36.147 l 19.44 19.44 c 0 0 0 0 0.001 0 L 45 87.163 l 18.073 -18.073 c 0 0 0 0 0 0 l 19.44 -19.44 c 9.982 -9.982 9.982 -26.165 0 -36.147 C 77.523 8.511 70.982 6.016 64.44 6.016 L 64.44 6.016 z"
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #c00ded; fill-rule: nonzero; opacity: 1;"
                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                </g>
              </g>
            </svg>
          </a>
          <a href="https://vk.com/id549315693">
            <svg width="29" height="29" viewBox="0 0 2.34 2.34">
              <use href="#vkBase" fill="#c00ded" />
              <use href="#vkLogo" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>