jinja2
https://github.com/timoniq/vkbottle/archive/master.zip
uvloop
aiohttp==3.6.2
aiosqlite==0.12.0
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
contextvars==2.4
future==0.18.2
idna==2.9
immutables==0.12
iso8601==0.1.12
multidict==4.7.5
pydantic==1.5.1
PyPika==0.37.1
PyYAML==5.3.1
tortoise-orm==0.16.8
typing-extensions==3.7.4.2
vbml==0.5.92
watchgod==0.6
yarl==1.4.2
aiohttp-jinja2==1.2.0
vk-api==11.8.0

