{% extends 'layout.html' %}
{% block pagecontent %}

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Настройки</h1>
      </div>
      <div class="col-md-12">
        <form action="/api/edit_bot" method="post">

          <div class="form-group">
            <label for="secret">Секретный код дежурного</label>
            <input type="text" class="form-control" name="secret" id="secret" aria-describedby="secret-help" onkeyup="phrase(this)"
              placeholder="8+ символов без пробелов" pattern="([a-zA-Z0-9_]{8,})" value="{{db.secret}}" required>
            <small id="secret-help" class="form-text text-muted">
              Секретный код дежурного будет отправляться при каждом сигнале от Ириса. Её смысл в проверке достоверности запроса. Никому не говорите секретный код дежурного.
            </small>
          </div>

          <div class="form-group">
            <label for="access_token">Токен ВК</label>
            <input type="text" class="form-control" name="access_token" id="access_token"
              aria-describedby="access_token-help" placeholder="85 символов" pattern="([a-zA-Z0-9*]{85})" value="{{db.access_token}}" required>
            <small id="access_token-help" class="form-text text-muted">
              Как вариант получить токен от Kate Mobile 
              <a href="https://vkhost.github.io/" target="_blank">тут</a>.
            </small>
          </div>

          <div class="form-group">
            <label for="online_token">Токен ВК для вечного онлайна</label>
            <input type="text" class="form-control" name="online_token" id="online_token"
              aria-describedby="online_token-help" placeholder="85 символов" pattern="([a-zA-Z0-9*]{85})" value="{{db.online_token}}">
              <small id="access_token-help" class="form-text text-muted">
                Как вариант получить токен
                <a href="https://vkhost.github.io/" target="_blank">тут</a>.
              </small>
          </div>

          <div class="form-group" style="display: none;">
            <label for="me_token">Токен ВК Ми для скрытия онлайна</label>
            <input type="text" class="form-control" name="me_token" id="me_token" aria-describedby="me_token-help"
              placeholder="85 символов" pattern="([a-zA-Z0-9*]{85})" value="{{db.me_token}}">
            <small id="me_token-help" class="form-text text-muted">Help text</small>
          </div>

          <div class="form-group" style="display: none;">
            <label for="bp_token">Токен BotPod для добавления групп</label>
            <input type="text" class="form-control" name="bp_token" id="bp_token" aria-describedby="bp_token-help"
              placeholder="85 символов" pattern="([a-zA-Z0-9*]{85})" value="{{db.bp_token}}">
            <small id="bp_token-help" class="form-text text-muted">Help text</small>
          </div>
          <input id="uid" name="uid" hidden>
          <input id="token" name="token" hidden>

          <script>           
            $("#uid").val(cookies.get('uid'));
            $("#token").val(cookies.get('token'));
          </script>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Сохранить</button>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <p>Фраза, которую надо отправить в <a href="https://vk.me/-174105461" target="_blank">ЛС Iris</a>:</p>
          <p>+api <span id="sectet_phrase_span">{{db.secret}}</span> https://<span id="host_span">{{db.host}}</span>/callback</p>
        </div>
        <script type="text/javascript">
          function phrase(e) {
            $("#sectet_phrase_span").text($(e).val())
          }
        </script>
      </div>
    </div>
  </div>
</div>

{% endblock pagecontent %}