{% extends 'layout.html' %}
{% block pagecontent %}

{% if installed %}

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Упс, кажется IDM уже установлен. Если Вы ошиблись в данных, то можете сбросить дежурного.</p>
      </div>
      <div class="col-md-12">
        <form action="/api/reset" method="post">
          <div class="form-group">
            <label for="secret">Секретный код дежурного</label>
            <input type="text"
              class="form-control" name="secret" id="secret" pattern="([a-zA-Z0-9_]{8,})" required>
          </div>
          <button class="btn btn-danger" type="submit">Сбросить дежурного</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p><a href="/">На главную</a></p>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="/api/setup_idm" method="post">
          <div class="form-group">
            <label for="owner_id">ID владельца дежурного</label>
            <input type="text"
              class="form-control" name="owner_id" id="owner_id" aria-describedby="owner_id-help" placeholder="От 3 до 11 цифр" minlength="3" maxlength="12" required>
            <small id="owner_id-help" class="form-text text-muted">
              Можно узнать <a href="http://regvk.com/id/" target="_blank">тут</a>.
            </small>
          </div>

          <div class="form-group">
            <label for="secret">Секретный код дежурного</label>
            <input type="text"
              class="form-control" name="secret" id="secret" aria-describedby="secret-help" placeholder="8+ символов без пробелов" pattern="([a-zA-Z0-9_]{8,})" required>
            <small id="secret-help" class="form-text text-muted">
              Секретный код дежурного будет отправляться при каждом сигнале от Ириса. Её смысл в проверке достоверности запроса. Никому не говорите секретный код дежурного.
            </small>
          </div>

          <div class="form-group">
            <label for="access_token">Токен ВК</label>
            <input type="text"
              class="form-control" name="access_token" id="access_token" aria-describedby="access_token-help" placeholder="85 символов" pattern="([a-zA-Z0-9]{85})" required>
            <small id="access_token-help" class="form-text text-muted">
              Как вариант получить токен от Kate Mobile 
              <a href="https://vkhost.github.io/" target="_blank">тут</a>.
            </small>
          </div>
          <div class="form-group">
            <label for="online_token">Токен ВК для вечного онлайна</label>
            <input type="text"
              class="form-control" name="online_token" id="online_token" aria-describedby="online_token-help" placeholder="85 символов" pattern="([a-zA-Z0-9]{85})">
            <small id="online_token-help" class="form-text text-muted">
              Как вариант получить токен
              <a href="https://vkhost.github.io/" target="_blank">тут</a>.
            </small>
          </div>

          <div class="form-group" style="display: none;">
            <label for="me_token">Токен ВК Ми для скрытия онлайна</label>
            <input type="text"
              class="form-control" name="me_token" id="me_token" aria-describedby="me_token-help" placeholder="85 символов" pattern="([a-zA-Z0-9]{85})">
            <small id="me_token-help" class="form-text text-muted">
              Как вариант получить токен
              <a href="https://vkhost.github.io/" target="_blank">тут</a>.
            </small>
          </div>
          <div class="form-group" style="display: none;">
            <label for="bp_token">Токен BotPod для добавления групп</label>
            <input type="text"
              class="form-control" name="bp_token" id="bp_token" aria-describedby="bp_token-help" placeholder="85 символов" pattern="([a-zA-Z0-9]{85})">
            <small id="bp_token-help" class="form-text text-muted">Help text</small>
          </div>         

          <div class="form-group">
            <label for="vk_app_id">ID приложения ВК</label>
            <input type="text"
              class="form-control" name="vk_app_id" id="vk_app_id" aria-describedby="vk_app_id-help" placeholder="От 3 до 11 цифр" minlength="3" maxlength="12" required>
            <small id="vk_app_id-help" class="form-text text-muted">
              Получить можно при создании приложения.
              <a href="https://vk.com/editapp?act=create" target="_blank">Страница создания</a>
            </small>
          </div>

          <div class="form-group">
            <label for="vk_app_secret">Защищённый ключ приложения ВК</label>
            <input type="text"
              class="form-control" name="vk_app_secret" id="vk_app_secret" aria-describedby="vk_app_secret-help" placeholder="20 символов" minlength="20" maxlength="20" required>
            <small id="vk_app_secret-help" class="form-text text-muted">
              Получить можно при создании приложения.
              <a href="https://vk.com/editapp?act=create" target="_blank">Страница создания</a>
            </small>
          </div>

          <div class="form-group" style="display: none;">
            <label for="host">URL-адресс админ-панели</label>
            <input type="text"
              class="form-control" name="host" id="host" aria-describedby="host-help" required>
            <small id="host-help" class="form-text text-muted">Только для опытных пользователей.</small>
            <script type="text/javascript">
              $("#host").val(location.host)
            </script>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endif %}
{% endblock pagecontent %}