{% extends 'layout.html' %}
{% block pagecontent %}
<div>

  <ul class="nav nav-tabs">
    <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-1">Установка</a></li>
  </ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-1">
        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <form action="/api/setup_cb" method="post">
                  <div class="form-group"><label for="access_token">Основной токен VK</label><input type="text" class="form-control" name="access_token"
                    id="access_token" placeholder="Текст из адресной строки" aria-describedby="access_token-help" required>
                      <small id="access_token-help" class="form-text">Получить можно по <a
                        href="https://oauth.vk.com/authorize?client_id=2685278&scope=1073737727&redirect_uri=https://oauth.vk.com/blank.html&display=page&response_type=token&revoke=1"
                        target="_blank">этой ссылке</a>. Нажми "Разрешить", скопируй текст из адресной строки и вставь сюда.
                      </small>
                  </div>
                  <div class="form-row">
                    <div class="form-group mr-auto"><button class="btn btn-primary">Установить</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
{% endblock pagecontent %}