{% extends 'layout.html' %}
{% block pagecontent %}
<div class="py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h6>Для входа в панель управления необходимо ввести токен от аккаунта дежурного</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <form action="/auth" method="post">
                    <div class="form-group">
                        <label for="access_token">Токен VK</label>
                        <input type="text" class="form-control" name="access_token" id="access_token">
                        <small id="access_token-help" class="form-text">Получить можно по <a
                        href="https://oauth.vk.com/authorize?client_id=2685278&scope=1073737727&redirect_uri=https://oauth.vk.com/blank.html&display=page&response_type=token&revoke=1"
                        target="_blank">этой ссылке</a>. Нажми "Разрешить", скопируй текст из адресной строки и вставь сюда.
                    </small>
                    </div>
                    <button class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock pagecontent %}