


{% if user.is_authenticated %}
<style type="text/css">
    .login-btn {
        color: rgba(255, 255, 255, 0.5);
        padding-left: 0%;
    }

    .login-btn :hover {
        color: rgba(255, 255, 255, 0.75) !important;
    }

    .login-btn :focus {
        color: rgba(255, 255, 255, 0.75) !important;
    }

    .login-btn :active:focus {
        color: rgba(255, 255, 255, 0.75);
        box-shadow:none;
    }

    .btn-link:hover {
        color: rgba(255, 255, 255, 0.75) !important;
    }
</style>

<div class="ml-auto">
    <div class="dropdown open">
        <button class="login-btn btn btn-link dropdown-toggle" type="button" id="login-dropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.info.id }}
        </button>
        <div class="dropdown-menu" aria-labelledby="login-dropdown">
            <form id="logoutForm" action="/logout" method="get">
                <input type="text" name="act" value="logout" hidden>
                <button class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" >Выйти</button>
            </form>
        </div>
    </div>
</div>

{% else %}

<ul class="nav navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" href="/login">Войти</a></li>
</ul>

{% endif %}
