<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="ru">
  <meta name="author" lang="ru" content="Юрий Юшманов">
  <meta name="author" lang="en" content="Yuriy Yushmanov">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="theme-color" content="#151515">
  <meta name="msapplication-navbutton-color" content="#151515">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#151515">

  <script src="https://vk.com/js/api/openapi.js?162" type="text/javascript"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap&subset=cyrillic">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/theme.css" type="text/css">
  <script src="/static/js/site.js"></script>

  <title>Iris duty manager</title>
</head>

<body class="d-flex flex-column">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <b>IDM</b>
      </a>
    </div>
  </nav>

  <div id="cookies-js-alerts">
    <noscript>
      <div class="py-12">
        <div class="container">
          <div class="row">
            <p>Для работы сайта требуется javascript и cookies, пожалуйстав включите их.</p>
          </div>
        </div>
      </div>
    </noscript>

    <div class="py-5" id="cookies-blocked">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Для работы сайта требуется cookies, пожалуйста включите их.</p>
            <script>
              if (navigator.cookieEnabled) { $("#cookies-blocked").hide(); }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="page-content">
    {% block pagecontent %}
    {% endblock pagecontent %}
  </div>


  <footer id="sticky-footer" class="py-5 bg-dark text-white-50">
    <div class="container">
      <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col text-center">
          <small style="font-size: 10px;color: #909090;">Copyright &copy; <span id="year"></span>, Юрий Юшманов.</small>
        </div>
        <div class="col-2 text-center">
          <a href="https://github.com/LordRalInc" target="_blank">
            <img src="/static/img/socials/github.png" width="61" height="25">
          </a>
          <a href="https://vk.com/llordrall" target="_blank">
            <img src="/static/img/socials/vkmonochrome.png" width="25" height="25">
          </a>
        </div>
      </div>
    </div>
    <script>let t = new Date(); $("#year").text(t.getFullYear());</script>
  </footer>
</body>

</html>